/* line 7, ../sass/ribbon.scss */
body {
  overflow: hidden;
}

@media screen and (min-width: 1000px) {
  /* line 12, ../sass/ribbon.scss */
  .top-right {
    position: absolute;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 20em;
    height: 3em;
    line-height: 3em;
    color: white;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.8);
    border: 1px solid #631a15;
    background: #c73b3c;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #c73b3c), color-stop(100%, #b8201f));
    background: -webkit-linear-gradient(#c73b3c, #b8201f);
    background: -moz-linear-gradient(#c73b3c, #b8201f);
    background: -o-linear-gradient(#c73b3c, #b8201f);
    background: linear-gradient(#c73b3c, #b8201f);
    box-shadow: 0 0.2em 0.6em rgba(0, 0, 0, 0.6);
    top: 11.11285em;
    right: 0;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transform-origin: 100% 100%;
    -moz-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    -o-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
  }
  /* line 80, ../compass-recipes/stylesheets/recipes/effect/_ribbon.scss */
  .top-right:before, .top-right:after {
    width: 100%;
    height: 0;
    content: "";
    position: absolute;
    display: block;
    border: 1px dashed;
    border-left: 0;
    border-right: 0;
    border-top-color: #631a15;
    border-bottom-color: #da5050;
  }
  /* line 89, ../compass-recipes/stylesheets/recipes/effect/_ribbon.scss */
  .top-right:before {
    top: 3px;
  }
  /* line 90, ../compass-recipes/stylesheets/recipes/effect/_ribbon.scss */
  .top-right:after {
    bottom: 1px;
  }
  /* line 14, ../sass/ribbon.scss */
  .top-right a {
    color: white;
  }
}
@media screen and (min-width: 320px) {
  /* line 21, ../sass/ribbon.scss */
  .top-right {
    position: absolute;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 14em;
    height: 3em;
    line-height: 3em;
    color: white;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.8);
    border: 1px solid #007200;
    background: #017301;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #017301), color-stop(100%, #238323));
    background: -webkit-linear-gradient(#017301, #238323);
    background: -moz-linear-gradient(#017301, #238323);
    background: -o-linear-gradient(#017301, #238323);
    background: linear-gradient(#017301, #238323);
    box-shadow: 0 0.2em 0.6em rgba(0, 0, 0, 0.6);
    top: 6.87021em;
    right: 0;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transform-origin: 100% 100%;
    -moz-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    -o-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
  }
  /* line 116, ../compass-recipes/stylesheets/recipes/effect/_ribbon.scss */
  .top-right:before, .top-right:after {
    width: 100%;
    height: 0;
    content: "";
    position: absolute;
    display: block;
    border: 1px dashed;
    border-left: 0;
    border-right: 0;
    border-top-color: #007200;
    border-bottom-color: white;
  }
  /* line 125, ../compass-recipes/stylesheets/recipes/effect/_ribbon.scss */
  .top-right:before {
    top: 1px;
  }
  /* line 126, ../compass-recipes/stylesheets/recipes/effect/_ribbon.scss */
  .top-right:after {
    bottom: 1px;
  }
  /* line 23, ../sass/ribbon.scss */
  .top-right a {
    color: white;
  }
}
@media screen and (min-width: 1000px) {
  /* line 30, ../sass/ribbon.scss */
  .top-right {
    position: absolute;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 20em;
    height: 3em;
    line-height: 3em;
    color: white;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.8);
    border: 1px solid #007200;
    background: #017301;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #017301), color-stop(100%, #238323));
    background: -webkit-linear-gradient(#017301, #238323);
    background: -moz-linear-gradient(#017301, #238323);
    background: -o-linear-gradient(#017301, #238323);
    background: linear-gradient(#017301, #238323);
    box-shadow: 0 0.2em 0.6em rgba(0, 0, 0, 0.6);
    top: 11.11285em;
    right: 0;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transform-origin: 100% 100%;
    -moz-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    -o-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
  }
  /* line 116, ../compass-recipes/stylesheets/recipes/effect/_ribbon.scss */
  .top-right:before, .top-right:after {
    width: 100%;
    height: 0;
    content: "";
    position: absolute;
    display: block;
    border: 1px dashed;
    border-left: 0;
    border-right: 0;
    border-top-color: #007200;
    border-bottom-color: white;
  }
  /* line 125, ../compass-recipes/stylesheets/recipes/effect/_ribbon.scss */
  .top-right:before {
    top: 1px;
  }
  /* line 126, ../compass-recipes/stylesheets/recipes/effect/_ribbon.scss */
  .top-right:after {
    bottom: 1px;
  }
  /* line 32, ../sass/ribbon.scss */
  .top-right a {
    color: white;
  }
}
